/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
@media (min-width: 1920px) {}
  
CSS */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{  scroll-behavior: smooth;
    padding: 0%;
    margin: 0%;
    font-family: 'Source Sans Pro', sans-serif;
}
body::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-thumb {
     background:  rgb(138, 138, 138);;
     border-radius: 50px;
}
::-webkit-scrollbar-track {
     background: #ffffff; 
}
::selection {
    color: rgb(24, 23, 23);
    background: rgb(255, 251, 13);
}
.home{
    background: white;
    min-height: 100vh;
    height: max-content;
    background-size: cover;
    background-position: center;
    
}
.home .nav{
    height: 7vh;
    width: 100%;
    background: rgb(255, 255, 255);
    backdrop-filter: saturate(180%) blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.logo{
    width: 15%;
}
.mid-nav{
    width: 40%;
   
}
.mid-nav ul{
    display: flex;
    justify-content: center;
}
.mid-nav ul li{
    margin: auto 50px;
    display: block;
    text-align: center;
    flex-wrap: nowrap;
}
.mid-nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.subscribe-nav{
    width:15%;
   
    display: flex;
    justify-content: flex-end;
}
.nav-sub{
    background-color: rgba(8, 8, 8, 0.979);
    color: #ffffff;
    height: auto;
    width: 120px;
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
}
.nav-sub a{
    color:#fff;
    text-decoration: none;
}
.home_text{
    display: flex;
    margin: 8vh auto;
    width: 88%;
    height: 80vh;
}
.home_left{
    width: 50%;
    
}
.home_left h1{
    margin: 18vh auto 0px auto;
    font-size: xx-large;
    font-size-adjust:inherit;
    font-weight:bolder;
    line-height: 105px;
    
}
.home_left p{
    font-size: 25px;
}
.home_right{
    width: 50%;
}
.home_right video{
    width: auto;
    height: 80vh;
    margin: auto auto;
}
.services{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: rgb(0, 0, 0);
    
}
.services_head{
    text-align: center;
    width: 100%;
    min-height: 40px;
    height: auto;
    color:#fff;
}
.section_titles{
    margin-top: 5vh;
    font-size: 50px;
    
}
.services_body{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 10% auto 10% auto;
    min-height: 40vh;
    height: auto;
    
}
.service_box{
    text-align: center;
    height: 350px;
    display: flex;
    width: 250px;
    border-radius: 15px;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
    
.service_box h3{
    text-align: center;
}
#box1{
    background: url(./Resources/fluidbg.jpg);
    background-position: center;
    background-size: cover;
    
}
#box2{
    background: url(./Resources/redbg.jpg);
    background-position: center;
    background-size: cover;
}
#box3{
    background: url(./Resources/leomengreeen.jpg);
    background-position: center;
    background-size: cover;
}
.box_content{
    width: 90%;
    margin: auto;
}
.about{
    text-align: center;
    min-height: 120vh;
    height: max-content;
}
.about_body{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin:100px auto auto auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.about_body>div{
    width: 50%;
    text-align: left;
    margin: auto;
}
#aboutimg{
    width: 450px;
    max-width: 100%;
    height: auto;
}
.about_body_left{
    display: flex;
}
.about_body_right p{
    text-align: justify;
    font-size: larger;
}
.connect{
    min-height: 80vh;
    display: flex;
    background: url(./Resources/6233478.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.connect_content{
    width: 85%;
    height: 35vh;
    margin: auto;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    color:#ffff;
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);   
}
#connect_link{
    padding:5px 20px;
    background-color: #ebedee;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}
/* Footer Styling */
footer {
    background-color: #222;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    min-width: 220px;
    padding: 20px;
  }
  
  .footer-section h2, .footer-section h3 {
    color: #e0e0e0;
  }
  
  .footer-section p, .footer-section a {
    color: #bbb;
    font-size: 14px;
    line-height: 1.6;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    color: #fff;
    text-decoration: underline;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .social-links .social-icon {
    display: inline-block;
    margin-right: 10px;
    color: #bbb;
    text-decoration: none;
  }
  
  .social-links .social-icon:hover {
    color: #fff;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #777;
    font-size: 14px;
  }
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
 
@media (min-width: 1920px) {
    .home_left h1{
        margin: 18vh auto 0px auto;
        font-size: 100px;
        font-size-adjust:inherit;
        font-weight:bolder;
        line-height: 105px;
        
    }
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
  
@media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    .home_left h1{
        margin: 18vh auto 0px auto;
        font-size:80px;
        font-weight:bolder;
        line-height: 80px;
        
    }
    .home_left p{
        font-size: 20px;
    }
    
}
  
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
}
  
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
}
  
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/
  
@media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
}
  
/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px) {
    
    .home{
        background: white;
        height: 100vh;
        
        background-size: cover;
        background-position: center;
    }
    .home .nav{
        height: 7vh;
        width: 100%;
        background: rgb(255, 255, 255);
        backdrop-filter: saturate(180%) blur(10px);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .logo{
        width: 35%;
    }
    .mid-nav{
       display: none;
       
    }
    .mid-nav ul{
        display: flex;
        justify-content: center;
    }
    .mid-nav ul li{
        margin: auto 50px;
        display: block;
        text-align: center;
        flex-wrap: nowrap;
    }
    .mid-nav a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
    .subscribe-nav{
        width:35%;
       
        display: flex;
        justify-content: flex-end;
    }
    .nav-sub{
        background-color: rgb(20, 20, 20);
        height: auto;
        padding: 6px 30px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        border-radius: 12px;
    }
    .home_text{
        display: flex;
        flex-direction: column;
        margin: 5vh auto;
        width: 100%;
        height: 100vh;
    }
    .home_left{
        width: 95%;
        margin: 0 auto;
        height: 35vh;
    }
    .home_left h1{
        text-align: center;
        margin: 5vh auto auto auto;
        font-size: 45px;
        font-weight:bolder;
        line-height: 40px;
        
    }
    .home_left p{
        font-size: 12px;
        text-align: center;
    }
    .home_right{
        width: 100%;
        height: auto;
    }
    .home_right video{
        width: 100%;
        height: 50vh;
        margin: auto auto;
    }
    .services_head{}
       

    .section_titles{
        margin-top: 5vh;
        font-size: 30px;
    }
    .services_head p{
        font-size: 12px;
    }
    .services_body{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-top: 10%
    }
    .service_box{
        text-align: center;
        height: 350px;
        display: flex;
        width: 250px;
        margin: 10px;
        border-radius: 15px;
        align-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }
    .about{
        text-align: center;
        
    }
    .about_head p{
        font-size: 12px;
    }
    .about_body{
        display: flex;
        flex-wrap:wrap;
        flex-direction: column;
        width: 100%;
        margin:50px auto auto auto;
        align-items: center;
        justify-content: center;
        align-content: center;    
    }
    .about_body>div{
        width: 80%;
        text-align: justify;
        margin: auto;
    }
    .about_body_right p{
        font-size: 18px;
    }
    
       
    
}
